In [17]:
# libraries
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [4]:
# read in the train data
train = pd.read_csv('./train.csv')

In [14]:
# get some metadeta
print("The dataset has", train.shape, "dimensions")
print("The columns are", train.columns)
print(train.head())

('The dataset has', (1458644, 11), 'dimensions')
('The columns are', Index([u'id', u'vendor_id', u'pickup_datetime', u'dropoff_datetime',
       u'passenger_count', u'pickup_longitude', u'pickup_latitude',
       u'dropoff_longitude', u'dropoff_latitude', u'store_and_fwd_flag',
       u'trip_duration'],
      dtype='object'))
          id  vendor_id      pickup_datetime     dropoff_datetime  \
0  id2875421          2  2016-03-14 17:24:55  2016-03-14 17:32:30
1  id2377394          1  2016-06-12 00:43:35  2016-06-12 00:54:38
2  id3858529          2  2016-01-19 11:35:24  2016-01-19 12:10:48
3  id3504673          2  2016-04-06 19:32:31  2016-04-06 19:39:40
4  id2181028          2  2016-03-26 13:30:55  2016-03-26 13:38:10

   passenger_count  pickup_longitude  pickup_latitude  dropoff_longitude  \
0                1        -73.982155        40.767937         -73.964630
1                1        -73.980415        40.738564         -73.999481
2                1        -73.979027        40.763939         -74.005333
3                1        -74.010040        40.719971         -74.012268
4                1        -73.973053        40.793209         -73.972923

   dropoff_latitude store_and_fwd_flag  trip_duration
0         40.765602                  N            455
1         40.731152                  N            663
2         40.710087                  N           2124
3         40.706718                  N            429
4         40.782520                  N            435

In [18]:
# get summaries of the numerics - can look into formatting?
train.describe()

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration
count,1458644.000,1458644.000,1458644.000,1458644.000,1458644.000,1458644.000,1458644.000
mean,1.535,1.665,-73.973,40.751,-73.973,40.752,959.492
std,0.499,1.314,0.071,0.033,0.071,0.036,5237.432
min,1.000,0.000,-121.933,34.360,-121.933,32.181,1.000
25%,1.000,1.000,-73.992,40.737,-73.991,40.736,397.000
50%,2.000,1.000,-73.982,40.754,-73.980,40.755,662.000
75%,2.000,2.000,-73.967,40.768,-73.963,40.770,1075.000
max,2.000,9.000,-61.336,51.881,-61.336,43.921,3526282.000

In [19]:
# get trip duration in minutes
train['trip_duration_mins'] = train['trip_duration'] / 60
train[['trip_duration', 'trip_duration_mins']].head()

In [22]:
# plot on map

# plots for trip volume by variables and average speed / mins

   trip_duration  trip_duration_mins
0            455               7.583
1            663              11.050
2           2124              35.400
3            429               7.150
4            435               7.250

In [ ]:
# get haversine distance between the two points